*{
    margin: 0;
    font-family: 'Cantora One', sans-serif;
}
section{
    
    margin-bottom: 50px; 
}
/* header styles */

header{
    background-image: url(../images/banner/banner3.png);
    height: 800px;
    
}
.banner{
    text-align: right;
    padding: 150px 100px 160px 750px ;

}
.banner[type='text']{
    width: 50%;
}
.banner-title{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
}
.btn-primary{
    background: #FFFFFF;
    color: #005FAC;
    border: 0;
    border-radius: 5px;
    padding: 16px 30px;
    font-size: 25px;
    font-weight: 400;
}
/* previous year section */
.previous-year{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 100px 200px 150px 150px;
}
.previous-year img{
    width: 400px;

}
.section-title{
    font-size: 40px;
    font-weight: 700;
  
}
.previous-year-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
}
.list-item {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    
}

.list-item i{
    margin-bottom: 8px;
    color: green;
}
/* my plan section */
.my-plan-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    
}

.plan-item{
    display: flex;
   justify-content: space-evenly;

}
.plan-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.plan-description{
    color: #444343;
    font-size: 18px;
    font-weight: 400;
}
/* about me section style */
.about-me .section-title{
    text-align: center;
    margin-bottom: 20px;
}
.my-details{
    display: flex;
    padding: 0 150px 50px 150px;
   gap: 50px;
}
.about-me-description{
    color: #444343;
    margin-top: 20px;
  
}
.experience-title{
    color: goldenrod;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-experience{
    height: 200px;
    padding: 30px 15px 30px 15px;
    box-shadow: 10px 10px 50px gray;
}
.hire-btn{
    background: coral;
    color: #F8F8F8;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 400;
}
/* adding linear gradient */
.call-now{
    padding-left: 50px;
    padding-top: 50px;
    height: 150px;
    margin: 100px 150px 100px 150px;
    background-image: linear-gradient(to right,rgb(255, 115, 0),rgba(255,0,0,0)),url(../images/watch.png);
}
.call-now h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #F8F8F8;
    
}
/* footer style */
footer{
    height: 400px;
}
.footer-section{
    background-color: #151414;
    display: flex;
    gap: 200px;
    padding: 130px 230px 130px 230px;
}

.footer-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}
.footer-description{
    color: #F8F8F8;
    font-size: 14px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer-info{
    color: #F8F8F8;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 200;
}
.footer-section img{
  
    padding-right: 15px;
}
.subscribe-title{
    color: #F8F8F8;
    font-size: 18px;
    font-weight: 400;
}
.footer-section input{
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 10px 15px;
    background: #151414;
    color: #F8F8F8;
    border-radius: 5px;

}
.btn-secondary{
    color: coral;
    background: #F8F8F8;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 400;
}
