*{
    margin: 0;
    font-family: 'Cantora One', sans-serif;
}
section{
    margin-bottom: 50px;

    
}
/* header styles */

header{
    background-image: url(../images/banner/banner3.png);
    height: 800px;
    width: 100%;
}
.banner{
    text-align: right;
    padding: 150px 100px 160px 750px ;

}
.banner[type='text']{
    width: 50%;
}
.banner-title{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
}
.btn-primary{
    background: #FFFFFF;
    color: #005FAC;
    border: 0;
    border-radius: 5px;
    padding: 16px 30px;
    font-size: 25px;
    font-weight: 400;
}
/* previous year section */
.previous-year{
    display: flex;
    
    align-items: center;
    gap: 100px;
    padding: 100px 200px 150px 150px;
}
.previous-year img{
    width: 400px;
  
   
}
.section-title{
    font-size: 40px;
    font-weight: 700;
  
}
.previous-year-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
}
.list-item {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    
}
.list-item p{
    margin-bottom: 8px;
}
.list-item i{
    color: green;
}
/* my plan section */
.my-plan-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    
}

.plan-item{
    display: flex;
   justify-content: space-evenly;

}
.plan-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.plan-description{
    color: #444343;
    font-size: 18px;
    font-weight: 400;
}